ul
  for entry in page.children
    if entry.type == 'spacer'
      li.spacer
    else
      li(class=isActive(entry) ? 'active' : undefined)
        a(href=entry.link || entry.url)= entry.title
        != template('menu', entry, param)
  li.spacer
  != marks(root.menu)
  for line in marks(root.menu).split(/\r\n|\n|\r/mg)
    li
      != line
