head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-touch-fullscreen", content="yes")
  meta(name="msapplication-tap-highlight", content="no")  
  if root.description
    meta(name="description", content=root.description)
  link(rel="stylesheet", href="/assets/css/style.css")
  link(rel="icon", href='/assets/favicon.ico', type="image/x-icon")
  link(rel="shortcut icon", href="/assets/favicon.ico")
  script(src="/assets/js/jquery.js")
  script(src="/assets/js/paper.js")
  script(src="/assets/js/codemirror.js")
  script(src="/assets/js/scripts.js")
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10082945-6']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  title!= root.title != page.title ? root.title + ' — ' + page.title : root.title
