if page.parent && !page.parent.parent && inPath(page) && page.name != 'Reference'
  ul
    for entry in (page.type == 'examples' ? page.children.flip() : page.children)
      if /^(page|tutorial|example)$/.test(entry.type)
        li(class=inPath(entry) ? 'active' : undefined)
          a(href=entry.link || entry.url) #{entry.title}