//- Render content template before, to get access to param.titles
- content = template("content")
article(class=inPath(root.get('tutorials')) ? 'tutorial' : page.type)
  if !param.titles || !param.titles.length || !param.titles[0].isFirst
    h1!= page.title
  != content
aside
  != template('aside', page)
