tutorials = root.get('tutorials')
if tutorials && (tutorials == page || tutorials.isAncestor(page))
  h1 Index
  !{ template('tutorials_index', tutorials) }
if param.titles
  .sticky
    h1 Content
    ul.toc
