tutorials = root.get('tutorials')
if tutorials && (tutorials == page || tutorials.isAncestor(page))
  .right
    h1 Index
    !{ template('tutorials_index', tutorials) }
if param.titles
  .right.index.sticky
    h1 Content
    ul.menu.toc
