#main
  #content(class=page.type)
    h1 !{page.title == 'global' ? 'Global Scope' : page.title}
    .content.reference
       .text
         !{template('main')}
        .text-end
    .content-end
#right
  !{template('right', page)}