@import 'bourbon/bourbon';
@import 'mixins/border-radius';

$color-text: #333;
$color-hover: #e5e5e5;
$color-highlight: #efefef;

$page-margin: 32px;
$line-height: 20px;

$content-width: 540px;
$menu-width: 160px;
$right-width: 200px;

@include font-face("SuperstudioBold", "http://paperjs.org/static/css/assets/superstudio");

body {
	background: #fff;
	margin: 0;
	font-size: 13px;
	width: $content-width + 3 * $page-margin + $menu-width + $right-width;
}

select,
input,
textarea {
	font-size: 11px;
	margin: 0;
	color: #000;
}

a {
	text-decoration: none;
}

a:focus {
	outline: none
}

form,
img {
	margin: 0;
}

div {
	line-height: $line-height;
}

/* Fonts */

h1,
h2 {
	font-family: "SuperstudioBold";
	font-weight: normal;
	font-size: 27px;
	line-height: 32px;
	padding-top: $page-margin; /* Padding instead of margin, so anchor trick works here too */
	padding-bottom: 8px;
}

h1,
h2,
h3,
h4 {
	border-bottom: 1px solid;
	margin: 0 0 $line-height 0;

	&:last-child {
		margin: 0;
	}
}

h3 {
	border-bottom: 1px dotted;
	margin-bottom: $line-height / 2;
	padding-bottom: $line-height / 2 - 1;
}

h3,
h4,
h5 {
	font-weight: normal;
	font-size: 1em;
	line-height: 16px;
}

h4 {
	display: inline;

	& + p {
		margin-top: $line-height;
	}
}

h5 {
	@include inline-block;
}

body,
select,
input,
textarea,
.tutorial h2,
.reference h2 {
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

.tutorial h2,
.reference h2 {
	font-size: 13px;
	line-height: 20px;
	padding: 0;
}

.tutorial h2 {
	font-weight: bold;
	border: 0;
	margin-top: 0;
	margin-bottom: 10px;
}

tt,
pre {
	font-family: Menlo, Consolas, "Vera Mono", monospace;
	font-size: 12px;
}

/* Tables */

table {
	border-spacing: 0;
	margin: 0;
	border: 0;
}

td {
	padding: 0;
	vertical-align: top;
}

/* Helpers */

.clear {
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.hidden {
	display: none;
}

.fixed {
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
}

.small {
	font-size: 11px;
	line-height: 16px;
}

.donation {
	padding-bottom: 20px;

	input,
	select {
		margin-right: 0.35em;
	}
}

/* Column Layout */

#menu,
#main,
#right {
	float: left;
	margin-left: $page-margin;
}

#menu {
	width: $menu-width;
	position: fixed;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 21px; // Position scrollbar in a good distance
	top: 0;
	bottom: 0;
}

#main {
	width: $content-width;
	/* We need relative position so scrollbars on document work */
	position: relative;
	margin-left: $menu-width + 2 * $page-margin;

	&.full {
		width: $content-width + $page-margin + $menu-width;
	}
}

#right {
	&,
	h1,
	.right {
		width: $right-width;
	}
}

/* Menu */

.menu {
	padding: 0;
	list-style: none;
	margin: 0;

	.entry {
		padding: 0;
		margin: 0 0 0 13px;
		text-indent: -13px;
	}

	.spacer {
		margin-top: 10px;
	}

	& > .entry {
		/* Don't indent the first level of entries */
		padding: 0;
	}
}

/* Colours and Links */

#menu {
	&,
	a {
		color: #009dec;
		border-bottom-color: #009dec;
	}

	.menu {
		a:hover,
		.active > a {
			background: #e3f4fc;
		}
	}
}

.right {
	&,
	a {
		color: #e4141b;
		border-bottom-color: #e4141b;
	}

	a:hover,
	.active a {
		background: #fce6e6;
	}
}

/* Content Styles */

#content {
	&,
	a {
		color: $color-text;
	}

	a {
		border-bottom: 1px solid;
	}

	a:hover {
		&,
		em {
			background: $color-hover;
		}
	}

	// Fix IE8 issue with empty named anchors having a huteight of 15px instead of 0
	a.anchor {
		display: block;
		height: 0;
		padding: 0;
		border: 0;
	}

	/* Text Content */

	em {
		font-style: normal;
		background: $color-highlight;
	}

	p,
	ul,
	ol {
		margin: 0 10px $line-height 0;

		&.small {
			margin-bottom: $line-height / 2;
		}
	}

	figure,
	.CodeMirror {
		margin-bottom: $line-height;
	}

	ul,
	ol {
		padding: 0;
		list-style: none outside none;
	}

	/* No bottom margin in nested lists */
	ul ul,
	ul ol,
	ol ul,
	ol ol {
		margin-bottom: 0;
	}

	ul > li {
		text-indent: -1em;
		margin-left: 1em;
	}

	ul > li:before {
		content: "-";
		padding-right: 0.5em;
	}

	ol {
		counter-reset: item;
	}

	ol > li {
		text-indent: -1.5em;
		margin-left: 1.5em;
	}

	ol > li:before {
			text-indent: 0;
			display: inline-block;
			content: counter(item, upper-latin) ") ";
			counter-increment: item;
			width: 1.5em;
	}

	$list-indent: 0.5em;
	$quote-indent: 0.4em;
	$paragraph-indent: $quote-indent + $list-indent;

	blockquote {
		margin: 0;

		p {
			padding-left: $paragraph-indent;

			&:first-child {
				text-indent: -$paragraph-indent;
				&:before {
					content: "“";
					padding-right: $list-indent;
				}
			}

			&:last-child:after {
				content: "”";
			}
		}
	}

	cite {
		font-style: normal;
		&:before {
			content: "–";
			padding-right: $list-indent;
		}
	}
}

.section {
	clear: both;
	margin-bottom: $line-height;
}

.column {
	width: 260px;
	float: left;

	& + & {
		margin-left: $line-height;
	}
}

.row {
	clear: both;
}

.content-end {
	clear: left;
	min-height: $page-margin;
}

/* Resources */

.resource-block {
	display: table;
	margin-bottom: 20px;
}

.resource-block + .resource-block {
	border-top: 1px dotted #000;
	padding-top: 20px;
}

.resource-text,
.resource-block .resource {
	float: none;
	display: table-cell;
	vertical-align: middle;
	margin: 0;
}

.resource-text {
	vertical-align: top;
}

.resource-block .resource img {
	margin-right: 20px;
}

.resource-text .note {
	margin: 0 10px 0 0;
}

.resource-text .CodeMirror {
	/* Having height at 100% in resource-blocks breaks table layout */
	height: auto;
	margin-bottom: 20px;
}

/* Thumbnails */

.thumbnails {
	margin-right: -24px;
}

.thumbnail {
	float: left;
	width: 258px;
	margin: 0 24px 24px 0;
}

.download {
	margin-bottom: 20px;

	.image {
		float: left;
		margin-right: 8px;
	}
}

.thumbnail .resource a,
.download .image a {
	border: 0 !important;
	background: none !important;
}

/* Documentation */

li.expandable-list {
	ul {
		display: none;
	}

	&.expanded {
		a.arrow {
			background: url(assets/arrow-open.gif) no-repeat;
		}

		ul {
			display: block;
		}
	}

	a.arrow {
		width: 8px;
		height: 8px;
		display: inline-block;
		background: url(assets/arrow-close.gif) no-repeat;
		border-bottom: 0;
		padding-right: 4px;
	}
}

/* Tutorials */

ul.tutorial-index {
	margin: 0;
	padding-left: 0;
	list-style: none;

	> li:before {
		display: none;
	}

	ul {
		padding-left: 13px;
	}
}

#main ul.tutorial-index {
	margin-bottom: 29px;
}