body {
	background: #fff;
	margin: 0;
	font-size: $font-size;
	line-height: $line-height;
	width: $content-width + 3 * $page-margin + $menu-width + $right-width;
	// Turn on ligatures and better typography
	text-rendering: optimizeLegibility;
	// Use normal aliasing to make it appear less heavy
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

@include tablet {
}

select,
input,
textarea {
	font-size: 11px;
	margin: 0;
	color: #000;
}

a {
	text-decoration: none;
}
