body {
	background: #fff;
	margin: 0;
	font-size: 13px;
	line-height: $line-height;
	width: $content-width + 3 * $page-margin + $menu-width + $right-width;
}

@include tablet {
}

select,
input,
textarea {
	font-size: 11px;
	margin: 0;
	color: #000;
}

a {
	text-decoration: none;
}
