/* Blocks */

.block {
	display: table;
	margin-bottom: $content-margin;
	@include clearfix;

	.note {
		margin: 0 10px 0 0;
	}

	.CodeMirror {
		// Having height at 100% in resource-blocks breaks table layout
		height: auto;
		margin-bottom: $content-margin;
	}

	.paperscript:last-child {
		margin-bottom: 0;
	}

	svg {
		display: block;
	}

	.left,
	.right {
		float: none;
		display: table-cell;
		vertical-align: middle;
	}

	.left {
		padding-right: $content-margin;
	}

	& + & {
		border-top: 1px dotted #000;
		padding-top: $content-margin;
	}
}
