
/* Content Styles */

article {
	&,
	a {
		color: $color-text;
	}

	a {
		border-bottom: 1px solid;
	}

	a:hover {
		&,
		em {
			background: $color-hover;
		}
	}

	/* Text Content */

	em {
		font-style: normal;
		background: $color-highlight;
	}

	p,
	ul,
	ol {
		margin: 0 $content-margin / 2 $content-margin 0;

		&.small {
			margin-bottom: $content-margin / 2;
		}
	}

	figure,
	.CodeMirror,
	.paperscript {
		margin-bottom: $content-margin;
	}

	// Lists

	ul,
	ol {
		padding: 0;
		list-style: none outside none;
	}

	// No bottom margin in nested lists
	ul ul,
	ul ol,
	ol ul,
	ol ol {
		margin-bottom: 0;
	}

	ul > li {
		$list-indent: 1em;
		margin-left: $list-indent;
		position: relative;

		&:before {
			content: '–';
	    position: absolute;
	    left: -$list-indent;
		}
	}

	ol {
		counter-reset: item;
	}

	ol > li {
		$list-indent: 1.5em;
		margin-left: $list-indent;
		position: relative;

		&:before {
	    position: absolute;
	    left: -$list-indent;
			content: counter(item, upper-latin) ') ';
			counter-increment: item;
		}
	}
}

section {
	clear: both;
	margin: 0 0 $content-margin;
	padding: 0;
}

.column {
	width: 260px;
	float: left;

	& + & {
		margin-left: $content-margin;
	}
}

.row {
	clear: both;
}

.donation {
	padding-bottom: $content-margin;

	input,
	select {
		margin-right: 0.35em;
	}
}

