body,
select,
input,
textarea {
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

tt,
pre,
.CodeMirror {
	font-family: Menlo, Consolas, "Vera Mono", monospace;
	font-size: $font-size-code;
	line-height: $line-height-code;
}

body {
	background: #fff;
	margin: $page-margin;
	font-size: $font-size;
	line-height: $line-height;
	color: $color-text;
	max-width: $content-width;
}

select,
input,
textarea {
	font-size: 11px;
	margin: 0;
	color: #000;
}

a {
	color: $color-text;
	text-decoration: none;
	border-bottom: 1px solid $color-text;
	&:hover {
		background: $color-hover;
	}
}

img {
	border: 0;
}

p {
	margin: 0 0 $content-margin 0;
}

ul,
ol {
	padding: 0;
	margin: 0 0 $content-margin 0;
	list-style: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.reference-index {
	&,
	a {
		color: $color-menu;
		border-bottom: 0px;
	}

	a:hover {
		background: $color-menu-hover;
	}

	h2,
	h3,
	hr {
		border-color: $color-menu;
	}
}

.reference {
	h1 {
		font-size: 18px;
		font-weight: normal;
		line-height: 24px;
		border: none;

		.version {
			font-size: 10px;
			line-height: 16px;
			vertical-align: top;
			margin-left: 0.35em;
		}
	}
}

.footer {
	margin-top: $content-margin;
}
