/* Fonts */

@include font-face("Superstudio", "http://assets.paperjs.org/fonts/superstudio");
@include font-face("Akkurat-Mono", "http://assets.paperjs.org/fonts/akkurat-mono", normal, normal);
@include font-face("Executive", "http://assets.paperjs.org/fonts/executive-regular", normal, normal);
@include font-face("Executive", "http://assets.paperjs.org/fonts/executive-italic", normal, italic);
@include font-face("Executive", "http://assets.paperjs.org/fonts/executive-medium", bold, normal);

.CodeMirror {
	&,
	textarea,
	pre {
		font-family: "Akkurat-Mono", Menlo, Consolas, "Vera Mono", monospace;
		font-size: 13px;
	}
}

h1,
h2 {
	font-family: "Superstudio";
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	padding-top: $page-margin; // Padding instead of margin, so anchor trick works here too
	padding-bottom: 8px;
  border-bottom: 1px solid;
  margin: 0 0 $line-height 0;
}

h3,
h4,
h5 {
	font-weight: bold;
	font-size: 1em;
}

h4 {
	display: inline;

	& + p {
		margin-top: $line-height;
	}
}

h5 {
	@include inline-block;
}

body,
select,
input,
textarea,
.tutorial h2,
.reference h2 {
	font-family: "Executive", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

.tutorial h2,
.reference h2 {
	font-size: $font-size;
	line-height: $line-height;
	padding: 0;
}

.tutorial {
	h2 {
		// FAQ, etc.
		// font-weight: bold;
		font-size: 20px;
		line-height: 28px; // x 1.4
		border: 0;
		// Some offsets fo scroll targets
		padding-top: 30px;
		margin-top: -30px;
	}

	section {
		margin-bottom: 30px;
	}
}

tt,
pre {
	font-family: "Akkurat-Mono", Menlo, Consolas, "Vera Mono", monospace;
	font-size: 13px;
}