/* Helpers */

.clear {
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.hidden {
	display: none !important;
}

.fixed {
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
}

.small {
	font-size: 0.9em;
}
