/* Column Layout */

nav,
article,
aside {
	float: left;
	margin-left: $page-margin;
}

nav {
	width: $menu-width;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 21px $page-margin 0; // 21px: Position scrollbar in a good distance
	top: 0;
	bottom: 0;
	z-index: 1;
}

article {
	// We need relative position so scrollbars on document work
	position: relative;
	margin: 0 0 $page-margin $menu-width + 2 * $page-margin;
	z-index: 0;
	width: $content-width;

	&.examples {
		width: 772px;
	}
}

aside {
	&,
	h1,
	.fixed {
		width: $right-width;
	}
}

/* Fullscreen */

body.fullscreen {
	overflow: hidden;

	article {
		// Clear relative position for fullscreen examples
		position: absolute;
		overflow: hidden;
		width: auto;
		padding: 0;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin-bottom: 0;

		// Stretch canvas into fullscreen article container:
		.paperscript {
			height: 100%;
			margin-bottom: 0;
		}

		.canvas,
		canvas[resize] {
			width: 100%;
			height: 100%;
		}
	}
}

/* Menu */

nav ul,
aside ul {
	padding: 0;
	list-style: none;
	margin: 0;

	li {
		padding: 0;
		margin: 0 0 0 1em;
		text-indent: -1em;

		&.spacer {
			margin-top: 10px;
		}
	}
}

/* Colours and Links */

nav {
	&,
	a {
		color: $color-menu;
		border-bottom-color: $color-menu;
	}

	ul {
		a:hover,
		.active > a {
			background: $color-menu-hover;
		}
	}
}

aside {
	&,
	a {
		color: $color-right;
		border-bottom-color: $color-right;
	}

	a:hover,
	.active > * {
		background: $color-right-hover;
	}
}
