// These styles are shared with the server version of docs

.reference {
	h1,
	h2,
	h3,
	h4 {
		font-size: $font-size;
		font-weight: normal;
		margin: 0;
	}

	h1,
	h2,
	h3 {
		height: $line-height - 2; // -2px so border-bottom aligns with contained links
		border-bottom: 1px solid;
		margin-bottom: $content-margin;
	}

	h2 {
		a {
			font-weight: bold;
		}
	}

	h3 {
		margin-top: $content-margin;
		border-bottom-style: dotted;
	}

	h4 {
		font-weight: bold;

	  .description {
			font-weight: normal;
			&:before {
				content: ' — ';
			}
		}

		& + ul,
		& + pre,
		& + .paperscript {
			margin-top: $content-margin / 2; // Move half way down from h4
			margin-bottom: $content-margin;
		}
	}

	a tt {
		line-height: $line-height-code;
	}

	ul,
	p {
		margin-bottom: $content-margin;
	}

	hr {
		border: none;
		border-bottom: 1px dotted;
	}

	.reference-list ul,
	.reference-inherited ul {
		margin-left: $content-margin;
	}

	.reference-inherited ul li {
		text-indent: -30px;
		padding-left: 30px;
	}

	ul.reference-classes {
		padding-bottom: 4px;

		li {
			margin: 0;
			text-indent: 0;
		}

		ul { // nested
			margin: 0 0 10px 10px;
		}

		h2,
		h3,
		hr {
			margin: 10px 0 10px 0;
		}

		.first h2 {
			margin-top: 0;
		}

		// TODO: IE hack? Still needed?
		* html & img {
			margin-top: 5px;
		}
	}

	ul.member-list {
		li {
			margin-left: 2em;
			margin-bottom: $page-margin / 2;
			text-indent: -2em;

			&:before {
				display: none;
			}
		}
	}

	.reference-members {
		margin-bottom: $content-margin;
	}

	.member-group-text {
		margin-bottom: $content-margin;
	}

	.member-description {
		border: 1px solid #999;
		// .member-header defines border-top for operator lists
		border-top: 0;
		margin: $content-margin 0 $content-margin 0;
	}

	.member-header {
		border-top: 1px solid #999;
		padding: 10px;

		.member-link {
			float: left;
		}

		.member-close {
			float: right;
		}

		@include clearfix;
	}

	.member-text {
		border-top: 1px dashed #999;
		padding: 10px 10px 0 10px;
		margin-bottom: -6px; // Compensate margins of p and ul to end up with 10px

		ul ul,
		ul ol,
		ol ul,
		ol ol,
		ul p,
		ol p {
			margin-bottom: $content-margin / 2;
		}
	}

	.member-link {
		text-indent: -30px;
		padding-left: 30px;
	}
}
