$color-text: #333;
$color-hover: #e5e5e5;
$color-highlight: #efefef;

$color-menu: #009dec;
$color-menu-hover: #e3f4fc;

$color-right: #e4141b;
$color-right-hover: #fce6e6;

$page-margin: 16px;
$content-margin: 16px;

$font-size: 13px;
$line-height: 20px;
$font-size-code: 12px;
$line-height-code: 17px;

$content-width: 540px;
$menu-width: 160px;
$right-width: 200px;
